/* add styles here */
body {
  margin: 0;
  background: white;

  /* border: solid 1px green; */
}

.stars {
  display: flex;
  align-items: center;

  /*
  width: 96px;
  overflow: hidden;
  */

  /*
  border: solid 1px black;
 */
}

.stars__star {
  /* position: relative; */
  width: 16px;
  height: 16px;
  background-image: url('/src/images/star.svg');
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center; /* this ensures the picture is centered in the div */
  margin-right: 4px; /* use exact spacing from Figma */

  /*
  border: solid 1px red;
*/
}

.stars__star:last-child {
  margin-right: 0;
}


.stars--1 .stars__star:nth-child(-n + 1),
.stars--2 .stars__star:nth-child(-n + 2),
.stars--3 .stars__star:nth-child(-n + 3),
.stars--4 .stars__star:nth-child(-n + 4),
.stars--5 .stars__star:nth-child(-n + 5) {
  background-image: url('/src/images/star-active.svg');
}
